In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rocha,UY,2022-10-04 22:02:27,-34.4833,-54.3333,52.30,88,53,7.34
1,1,Sabinopolis,BR,2022-10-04 22:02:28,-18.6661,-43.0839,70.90,77,43,2.98
2,2,Anloga,GH,2022-10-04 22:02:29,5.7947,0.8973,77.95,89,73,8.68
3,3,Tasiilaq,GL,2022-10-04 22:01:29,65.6145,-37.6368,35.76,65,49,7.47
4,4,Ribeira Grande,PT,2022-10-04 22:00:00,38.5167,-28.7000,71.85,79,74,7.58

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rocha,UY,2022-10-04 22:02:27,-34.4833,-54.3333,52.30,88,53,7.34
1,1,Sabinopolis,BR,2022-10-04 22:02:28,-18.6661,-43.0839,70.90,77,43,2.98
2,2,Anloga,GH,2022-10-04 22:02:29,5.7947,0.8973,77.95,89,73,8.68
3,3,Tasiilaq,GL,2022-10-04 22:01:29,65.6145,-37.6368,35.76,65,49,7.47
4,4,Ribeira Grande,PT,2022-10-04 22:00:00,38.5167,-28.7000,71.85,79,74,7.58

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],\
                                 dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [27]:
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Anloga,GH,2022-10-04 22:02:29,5.7947,0.8973,77.95,89,73,8.68
8,8,Saint George,US,2022-10-04 22:00:25,37.1041,-113.5841,88.43,23,0,4.00
20,20,Takoradi,GH,2022-10-04 22:02:40,4.8845,-1.7554,75.72,93,99,6.80
26,26,Meridian,US,2022-10-04 22:02:45,43.6121,-116.3915,82.33,29,0,3.44
28,28,Bom Jesus,BR,2022-10-04 22:02:46,-9.0744,-44.3586,85.55,21,10,2.95

In [28]:
preferred_cities_df.count()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2          Anloga      GH     77.95   5.7947    0.8973
8    Saint George      US     88.43  37.1041 -113.5841
20       Takoradi      GH     75.72   4.8845   -1.7554
26       Meridian      US     82.33  43.6121 -116.3915
28      Bom Jesus      BR     85.55  -9.0744  -44.3586
31     Hambantota      LK     79.14   6.1241   81.1185
33          Minab      IR     83.26  27.1467   57.0801
36      Hithadhoo      MV     82.33  -0.6000   73.0833
38  Fuerte Olimpo      PY     84.58 -21.0415  -57.8738
44     Georgetown      MY     78.73   5.4112  100.3354